@import url(./header.css);
@import url(./main.css);
@import url(./footer.css);

@font-face {
    font-family: "font-spotfy";
    src: url(../assets/Fonte/GothamMedium_1.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "font-spotfy";
    list-style: none;
    text-decoration: none;
}
html{
    font-size: 62.5%;
    
}
body{
    display: flex;
    flex-direction: column;
}
#conteudo{
        display: flex;       
}

main{
    width: 100%;
    background-image: linear-gradient(to bottom, #5F3149,#160B11 70%);
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}
